{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ post.title|censor }}
{% endblock title %}


{% block content %}
<h1>{{ post.title|censor }}</h1>
<h4 style="color:gray"> Автор: {{ post.author.user|default:'incognito' }}<br>
Категория:
{% if post.categories.exists %}
    {% for category in post.categories.all %}
      {{ category.name }},
    {% endfor %}
{% endif %} </h4>

<br>
{{ post.post_created|date:'d.m.Y' }}
<br>
<br>
<p align="justify"> {{ post.post_body|censor }} </p>
{% endblock content %}