{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Новость</h1>
<hr>
<form action="" method="post">
  {% csrf_token %}                        <!--csrf_token - для защиты приложения от хакерских атак-->
  {{ form.as_p }}                         <!--#Inserting HTML, "as_p" means to process blocks as <p> paragraph-->
                                          <!--form ссылается на объект, созданный во VIEWS: form = ProductForm()-->
  <input type="submit" value="Save" />
</form>
{% endblock %}